/*resets*/

body{
	font-family: 'Abel', sans-serif;
	/*background-color: black;*/
}

ul li{
	list-style: none;
}

ul{
	padding: 0;
	margin: 0;
}



/*behaviours*/

a{
	color: black;
}

a:visited{
	color: black;
}

.p-1{
	padding: 10px;
}

.container{
	max-width: 900px;
	margin: auto;
}

.button{
	background: black;
	text-transform: uppercase;
	color: white;
	padding: 10px 20px;
	margin-top: 20px;
}

.img{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 10px;
	min-width: 10px;
	margin-top: 1px;
	margin-left: 10px;
	margin-right: -9px;
}

.img .img-1{
	background-position: 90% 90%;
}

.img .img-2{
	background-position: 40% 100%;
}

.img .img-3 {
	background-position: 50% 50%;
}
.img:hover{
	transform: scale(1.1);
}

.layout{
	display: flex;
	justify-content: flex-end;
}

.layout ul li{
	margin-left: 10px;
}

.menu{
	justify-content: flex-start;
}

.layout .layout-left li{
	margin-right: 10px;
}

.layout.horizontal{
	flex-direction: row;
	justify-content: flex-end;
}

.layout.horizontal.img{
	flex-grow: 1;
	margin-top: 10px;
}

.layout.horizontal.img:first-child{
	margin-left: 0;
}

.w-50{
	width: 50%;
} 


/*specific*/

.navbar{
	border-bottom: 1px white solid;
}

.gallery .img{
	height: 120px;
}

.main-img{
	height: 300px !important;
}

.logo {
	flex-grow: 1;
	margin-left: 35px;
}

.menu {
	flex-grow: 2;
}

.breadcrum{
	text-transform: uppercase;
	margin-left: 30px
}

.price{
	font-size: 20px;
}

.description{
	border-top: 1px solid white;
}

.li{
	text-indent: 30pt; 
}

.li-3{
	text-indent: 30pt;
	font-weight: bold;
}